.wcards__item_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
}

@media (max-width: 992px) {
    .wcards__item_text {
        order: 1;
        max-width: 600px;
    }
  }