.greetings__image {
    width: 600px;
    height: 470px;
}

@media (max-width: 1279px) {
    .greetings__image {
        width: 510px;
        height: 399.5px;
    }
  }

@media (max-width: 992px) {
    .greetings__image {
        order: 1;
        width: 600px;
        height: 470px;
        margin-bottom: 50px;
    }
  }

@media (max-width: 767px) {
    .greetings__image {
        width: 480px;
        height: 376px;
    }
  }

@media (max-width: 480px) {
    .greetings__image {
        width: 100vw;
        max-height: fit-content;
    }
  }