.info__metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1162px;
    margin: 110px auto 0 auto;
}

@media (max-width: 1279px) {
    .info__metrics {
        justify-content: space-evenly;
    }
  }

@media (max-width: 767px) {
    .info__metrics {
        flex-direction: column;
        align-items: center;
        margin: 55px auto 0 auto;
    }
  }